<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <textarea id="url">https://www.amazon.in/s/query?bbn=26925981031&dc&ds=v1%3AW6gDEFLoVqtGFrisHnarOfNK%2BNQEkxRWFmaKuAWVnIA&i=fashion&page=1&pf_rd_i=1953602031&pf_rd_m=A1VBAL9TL5WCBF&pf_rd_p=7d2900d7-aee1-4faa-9248-133e893ebb4c&pf_rd_r=3HB4HPGT5CTNDYVVK166&pf_rd_s=merchandised-search-14&qid=1660878020&ref=sr_nr_p_89_1&rh=n%3A6648217031%2Cn%3A26925981031%2Cn%3A7459780031%2Cn%3A1953602031%2Cn%3A1968253031%2Cp_n_pct-off-with-tax%3A27060456031%2Cp_n_feature_nine_browse-bin%3A28972539031&rnid=3837712031</textarea>
    <button id="sub">生成</button>
    <button id="red">读取</button>
  </body>
  <style>
    textarea{
      width: 100%;
    }
  </style>
  <script>
    $(function(){
      $('#sub').click(function (){
        let url = $('#url').val()
        $.ajax({
          //请求方式
          type : "get",
          //请求的媒体类型
          contentType: "application/json;charset=UTF-8",
          //请求地址
          url : "/creation-js-api",
          //数据，json字符串
          data : {
            url
          },
          //请求成功
          success : function(result) {
              console.log(result);
          },
          //请求失败，包含具体的错误信息
          error : function(e){
              console.log(e.status);
              console.log(e.responseText);
          }
        })
      })
      $('#red').click(function (){
        $.ajax({
          //请求方式
          type : "get",
          //请求的媒体类型
          contentType: "application/json;charset=UTF-8",
          //请求地址
          url : "/redcsv",
          //请求成功
          success : function(result) {
              console.log(result);
          },
          //请求失败，包含具体的错误信息
          error : function(e){
              console.log(e.status);
              console.log(e.responseText);
          }
        })
      })
    })
  </script>
</html>
